{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="https://kit.fontawesome.com/cf79e18cdd.js" crossorigin="anonymous"></script>
<h2>Welcome to Spottedfly! Check out today's top playlists.</h2>
<br style="clear:both" />
<div class="scrolling-wrapper-flexbox">

  <div class="card">
   <iframe src="https://open.spotify.com/embed/playlist/0J5GVYMrT8wbAkaNbIcCLN" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
   <a href="{% url 'playlist-detail' 57 %}" class="btn btn-success">View</a>
  </div>

  <div class="card">
    <iframe src="https://open.spotify.com/embed/playlist/6rmuR6S0xSlQAlcJc6JMjM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <a href="{% url 'playlist-detail' 47 %}" class="btn btn-success">View</a>
  </div>

  <div class="card">
      <iframe src="https://open.spotify.com/embed/playlist/3anv6LilLSXofGDR12W1Mp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <a href="{% url 'playlist-detail' 69 %}" class="btn btn-success">View</a>
  </div>

  <div class="card">
   <iframe src="https://open.spotify.com/embed/playlist/2o1qRzi61Qpzv8mB7aBPaP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
   <a href="{% url 'playlist-detail' 48 %}" class="btn btn-success">View</a>
  </div>

  <div class="card">
    <iframe src="https://open.spotify.com/embed/playlist/0MMCB0rG70wSa2aLdxXidT" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <a href="{% url 'playlist-detail' 35 %}" class="btn btn-success">View</a>
  </div>

  <div class="card">
      <iframe src="https://open.spotify.com/embed/playlist/43udSsOeQC1mlUYf18fb2J" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <a href="{% url 'playlist-detail' 30 %}" class="btn btn-success">View</a>
  </div>


</div>
<h1> All Playlists </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Graph</th>
      <th scope="col">Playlist Name</th>
	  <th scope="col">Notes</th>
	  <th scope="col">Growth</th>
	  <th scope="col">Bots?</th>
    </tr>
  </thead>
  <tbody>
    {% for pl in page_obj %}
	<tr>
	    <td>
	        <a href="{% url 'playlist-detail' pl.pk %}"
                   class="btn btn-outline-success">
                    View</a>
	    </td>
	    <td>
	        <h5>{{pl.name}}</h5>
	    </td>
		<td>
		{{ pl.comments.count }}
		</td>
		<td>
		{% if pl.get_quality_display == "Neutral" %}
		<span class="yellowdot"></span>
		{% elif pl.get_quality_display == "Bad" %}
		<span class="orangereddot"></span>
		{% elif pl.get_quality_display == "Terrible" %}
		<span class="reddot"></span>
		{% elif pl.get_quality_display == "Good" %}
		<span class="greendot"></span>
		{% elif pl.get_quality_display == "Excellent" %}
		<span class="darkgreendot"></span>
		{% elif pl.get_quality_display == "Tba" %}
		<p>TBA</p>
		{% endif %}
		</td>
		<td>
		    {% if pl.sus == True %}<i class="fas fa-check-square"></i>{% else %}&times;{% endif %}</td>
		</td>
	</tr>
	{% endfor %}
  </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}