{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Chart</th>
      <th scope="col">Followers</th>
    </tr>
  </thead>
  <tbody>
    {% for pl in playlists %}
	<tr>
	    <td>
	        <form action= "{% url 'home' %}" class="form-inline my-2 my-lg-0" method="post">
	        <input class="form-control mr-sm-2" type="submit" name="ticker" value="{{pl.playlist_uri}}">
	        {% csrf_token %}
	        </form>
	    </td>
	    <td>
	        {{pl.followers_list}}
	    </td>
	</tr>
	{% endfor %}
  </tbody>
</table>

{% endblock %}