{% extends 'base.html' %}

{% block content %}


<h1>Compare Song Features</h1>
<br/>

<form action= "{% url 'view_songs' %}" class="form-inline my-2 my-lg-0" method ="POST">
    	{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Song 1 URI" aria-label="Search" name="song1">
      <input class="form-control mr-sm-2" type="search" placeholder="Song 2 URI" aria-label="Search" name="song2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Compare Songs</button>
    </form>


{% endblock %}