{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
{% load humanize %}
	<div id="container">

  <div id="content">
    <h1>{{playlist.name}}</h1>
    <p>{{init_followers|intcomma}}&#8594;{{latest_followers|intcomma}} Followers </p>
    <p>Avg Danceability: {{playlist.avg_dance}}</h5>
    <p>Avg Energy: {{playlist.avg_energy}}</h5>
    <p>Avg Instrumentalness: {{playlist.avg_instru}}</p>
    <p>Avg Valence: {{playlist.avg_valence}}</p>
    <a class="btn btn-success"  href="{{link}}" role="button">Visit on Spotify</a>
  </div>

  <div id="rightThing">
      <iframe src="https://open.spotify.com/embed/playlist/{{xframe_uri}}" width="800" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>

</div>




    <div class="container">
  <canvas id="examChart2"></canvas>
</div>
<div class="container">
  <canvas id="examChart"></canvas>
</div>


	<script type="text/javascript">
	function random_rgba() {
        const o = Math.round, r = Math.random, s = Math.sqrt(255);
        return 'rgba(' + o(s*r()*s) + ',' + o(s*r()*s) + ',' + o(s*r()*s) + ',' + (.3 + r().toFixed(1) *.5) + ')';
    }

	var chart_data=[];
	var i;
    var x = "{{result}}";
    const res= "{{ result| safe }}";
    var res_obj = eval('(' + res + ')');
    for (var i = 0; i < res_obj.length; i++) {
      chart_data.push({
        t: new Date(res_obj[i].t),
        y: res_obj[i].y
      });
    }

    var dataset = {
      data: {
          datasets: [{
              label: 'Scatter Dataset',
              data: []
                  }]
               }
            };
    var coordinates = [];
    dataset.data.datasets[0].data = coordinates;


    for (var i = 0; i < res_obj.length; i++) {
      //document.getElementById('chart_place').innerHTML += '<li>' + 'pl: ' + res_obj[i].y + '</li>';
      coordinates.push({
        t: new Date(res_obj[i].t),
        y: res_obj[i].y
      });
    }
		var ctx = document.getElementById("examChart").getContext("2d");

    var ctx = document.getElementById("examChart").getContext("2d");
    var ctx2 = document.getElementById("examChart2").getContext("2d");
    var data=[];
    data['labels']=[];
    data['datasets']=[];
    data['datasets'][0]={
        data: [],
        backgroundColor: [],
        borderColor: "rgba(0,0,0,0)",
        label: '{{playlist_name}}'
    };
    var m = res_obj.length;
    var color = random_rgba();
    for (i=0;i<m && i<1000;i++){
        var j = res_obj.length - i - 1;
        pl=res_obj[j];
        data['labels'][i]=pl.t;
        data['datasets'][0].data[i]={t :pl.t, y: pl.y};
        data['datasets'][0].backgroundColor[i]=color;
    }
    data['labels'].reverse()
    data['datasets'][0].data.reverse()
    var myNewChart = new Chart(ctx2,{type: 'line',data: data, options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Followers'
                      }
                }],
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 12
                      }
                }]
            }
        }});
    </script>

<hr>
<p>{{songs}}</p>
<a class="btn btn-outline-dark" href="{% url 'add_comment_to_playlist' pk=playlist.pk %}">Add comment</a>
{% for comment in playlist.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}