{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="/assets/js/jquery-1.12.0.min.js"></script>
{% if api %}
	{% if api == "Error..." %}
		There was a problem with the api, fix it.
	{% else %}
    <h2>{{playlist_name}} Followers Info</h2>
    <h3>{{api.followers.total}} Followers</h3>
    <div class="container">
  <canvas id="examChart2"></canvas>
</div>
<div class="container">
  <canvas id="examChart"></canvas>
</div>


	    <div class="textbox">
	        {{playlist.followers_list}}
	        {{playlist.dates_list}}
        </div>
        <div class="textbox">
            <h3> {{api.name}} </h3>
            <img src= "{{image}}" alt="pic" width="200" height="200"/>
        </div>




	{% endif %}
{% else %}
	{% if e %}
		{{ e }}
	{% endif %}
	<div class="container">
  	<div class="row">
    <div class="col text-center">
	<form  action= "{% url 'home' %}" method="POST">
	{% csrf_token %}
        <h1> Welcome to Spottedfly</h1>
        <br/>
		<h2> Enter a Spotify Playlist URI </h2>
		<input name="ticker" class="form-control mr-sm-2" type="search" value="spotify:playlist:1kuvKUsWFvzELdUQn94XxY" aria-label="Search">
		<br/>
    	<button class="btn btn-success my-2 my-sm-0" type="submit">Check it out!</button>
	</form>
	</div>
	</div>
	</div>
	{{ api }}
	<br/>

{% endif %}


		<script type="text/javascript">
		var chart_data=[];

		var i;
    var x = "{{result}}";
    const res= "{{ result| safe }}";
    var res_obj = eval('(' + res + ')');
    for (var i = 0; i < res_obj.length; i++) {
      //document.getElementById('chart_place').innerHTML += '<li>' + 'pl: ' + res_obj[i].y + '</li>';
      chart_data.push({
        t: new Date(res_obj[i].t),
        y: res_obj[i].y
      });
    }

    var dataset = {
      data: {
          datasets: [{
              label: 'Scatter Dataset',
              data: []
                  }]
               }
            };
    var coordinates = [];
    dataset.data.datasets[0].data = coordinates;

    // your loop, edited slightly
    for (var i = 0; i < res_obj.length; i++) {
      //document.getElementById('chart_place').innerHTML += '<li>' + 'pl: ' + res_obj[i].y + '</li>';
      coordinates.push({
        t: new Date(res_obj[i].t),
        y: res_obj[i].y
      });
    }
		var ctx = document.getElementById("examChart").getContext("2d");

var ctx = document.getElementById("examChart").getContext("2d");
var ctx2 = document.getElementById("examChart2").getContext("2d");
var data=[];
data['labels']=[];
data['datasets']=[];
data['datasets'][0]={
    data: [],
    backgroundColor: [],
    borderColor: "rgba(0,0,0,0)",
    label: '{{playlist_name}}'
};
for (i=0;i<res_obj.length;i++){
    pl=res_obj[i];
    data['labels'][i]=pl.t;
    data['datasets'][0].data[i]={t :pl.t, y: pl.y};
    data['datasets'][0].backgroundColor[i]='rgba(54, 162, 235, 0.2)';
}

var myNewChart = new Chart(ctx2,{type: 'line',data: data, options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Followers'
                  }
            }]
        }
    }});
</script>

{% endblock %}