# Django #
*.log
*.pot
*.pyc
db.sqlite3
__pycache__


# Venv #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
spottedenv/

# Other #
static-transpile/
.ebextensions/
.vscode/
static-transpile/
.DS_Store
.pylintrc