# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
.spottedenv
.myvenv
spottedenv/
myvenv/
spottedenv.bak
myvenv.bak
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
pip-log.txt 
pip-delete-this-directory.txt