.imagebox {
  width: 50%;
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
}

.textbox {
  width: 50%;
  float: right;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}

img {
  width: 100%;
  height: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}